@using TaskListApp.Web.Areas.Admin.Models.UsersViewModels;
@model UserIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<div class="users-list-container">
    @if (Model.Users != null && Model.Users.Count() > 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Login</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th></th>
                    <th></th>                    
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model.Users) {
                    <tr>
                        <td>@((user.IsBlocked) ? "Blocked" : "Active")</td>
                        <td>@user.UserName</td>
                        <td>@($"{user.Name} {user.Surname}")</td>
                        <td>
                            @Html.DropDownList("DepartmentId", Model.DepartmentsList, new { @class = "department-select-box" })
                        </td>
                        <td>@Html.DropDownList("Role", Model.RolesList, new { @class = "role-select-box" })</td>
                        <td>
                            @if (user.IsBlocked) {
                                <button class="btn btn-default user-unblock-btn" data-user-id="@user.Id">Unblock</button>
                            }
                            else {
                                <button class="btn btn-default user-block-btn" data-user-id="@user.Id">Block</button>
                            }
                        </td>
                        <td>
                            @if (user.IsBlocked) 
                            {
                                <a href="@Url.Action("Delete", "Users", new { userId = user.Id })" class="btn btn-danger" >Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no users</p>
    }

</div>

<script>

    $(".user-unblock-btn").click(function () {
        var userId = $(this).data("user-id");

        $.ajax({
            method: "POST",
            url: @Url.Action("UnblockUser", "Users"),
            data: { userId : userId }
        }).complete(function(){

        });
    });

    $(".user-block-btn").click(function () {
        var userId = $(this).data("user-id");

        $.ajax({
            method: "POST",
            url: @Url.Action("BlockUser", "Users"),
            data: { userId : userId }
        }).complete(function(){

        });
    });

</script>

